{% extends "desafio_3-1_layout.njk" %}

{% block title %}
    <title>Info | Launchbase</title>
{% endblock title %}

{% block styles %}
    <style>
        body {
            background-image: url("");
            position: relative;
        }
    </style>
{% endblock styles %}

{% block content %}
<div class="info-course">
    <iframe src="https://rocketseat.com.br/{{info.name}}" frameborder="0"></iframe>
</div>
{% endblock content %}