{% extends "desafio_3-1_layout.njk" %}

{% block title %}
    <title>No-Found | Launchbase</title>
{% endblock title %}

{% block styles %}
    <style>
        body {
            background-image: url("");
            position: relative;
        }
    </style>
{% endblock styles %}

{% block content %}
    <section class="home">
        <div class="not-found">
            Ops :( , esta página não existe ou esta fora do ar no momento.
        </div>
    </section>
{% endblock content %}