{% extends "layout.njk" %}

{% block content %}
    <form action="/students?_method=PUT" method="POST">
        <div class="cards-more">
            <div class="card">
                <section class="imagem" style="background: url({{student.avatar_url}}) no-repeat center center / cover;"></section>

                <div class="detalhes">
                    {% include "students/fields.njk" %}
                    <input type="hidden" name="id" value="{{student.id}}">
                </div>
            </div>
        </div>
    </form>
{% endblock content %}