{% extends "layout.njk" %}

{% block content %}
    <div class="cards">
        <table class="table-container" width="100%">
            <thead>
                <tr>
                    <th>
                        <a id="new-reg" href="/students/create">Novo</a>

                    </th>
                </tr>
                <tr>
                    <th>Nome completo</th>
                    <th>Email</th>
                    <th>Ano Escolar</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td>
                            <span style="background-image: url({{student.avatar_url}});"></span>
                            {{student.name}}</td>

                        <td id="student_email">
                            {{student.email}}
                        </td>

                        <td>
                            {{student.education_level}}
                        </td>

                        <td>
                            <a href="students/{{student.id}}">Detalhes</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock content %}