<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
        {% block head %}
            <title>School Challenge 4</title>
        {% endblock head %}
    </head>
    
    <body>
        <header>
            <div class="links">
                <a href="/teachers">Teachers</a>
                <a href="/students">Students</a>
            </div>
        </header>

        {% block content %}{% endblock %}

    </body>
</html>