{% extends "layout.njk" %}

{% block content %}
    <form id="create-teachers" action="/teachers" method="POST">

        <div class="cards">
            <div class="card">
                <section class="imagem" style="background: url(https://source.unsplash.com/collection/517198/500x500) no-repeat center center / cover;"></section>
                <section class="detalhes">
                    {% include "teachers/fields.njk" %}
                </section>

            </div>
        </div>
    </form>

{% endblock content %}