{% extends "layout.njk" %}

{% block content %}
    <div class="cards">
        <table id="teacher" class="table-container" width="100%">
            <thead>
                <tr>
                    <th>
                        <a id="new-reg" href="/teachers/create">Novo</a>

                    </th>
                </tr>
                <tr>
                    <th>Nome completo</th>
                    <th>Acompanhamento</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for teacher in teachers %}
                    <tr>
                        <td>
                            <span style="background-image: url({{teacher.avatar_url}});"></span>
                            {{teacher.name}}</td>

                        <td>
                            {% for area in teacher
                                .subjects_taught
                                .split(",") %}
                                <span id="area">{{area}}</span>
                            {% endfor %}
                        </td>

                        <td>
                            <a href="teachers/{{teacher.id}}">Detalhes</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}