{% extends "layout.njk" %}

{% block content %}
    <div class="cards">

        <div class="header">
            <a class="button" href="teachers/create">Novo</a>
            <form action="/teachers" method="GET">
                <input type="text" name="filter" placeholder="Nome ou Acompanhamento" value="{{filter}}">
                <button type="submit">Filtrar</button>
            </form>
        </div>

        <table id="teacher" class="" width="100%">
            <thead>
                <tr>
                    <th>Nome completo</th>
                    <th>Acompanhamento</th>
                    <th>Alunos</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for teacher in teachers %}
                    <tr>
                        <td>
                            <span style="background-image: url({{teacher.avatar_url}});"></span>
                            {{teacher.name}}</td>

                        <td>
                            {% for area in teacher
                                .subjects_taught
                                .split(",") %}
                                <span id="area">{{area}}</span>
                            {% endfor %}
                        </td>

                        <td>
                            {{ teacher.total_students }}
                        </td>

                        <td>
                            <a href="teachers/{{teacher.id}}">Detalhes</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}