{% extends "layout.njk" %}

{% block content %}
    <div class="cards">

        <div class="card">
            <section class="image">
            <img src="https://source.unsplash.com/collection/517198/500x500" alt="Colection teacher">
            </section>
            <section class="details">
                <div class="item">
                <h3>Nome do Professor</h3>
                <h2>Carlos de coco vitor</h2>
                </div>

                <div class="item">
                <h3>Idade</h3>
                <h2>24</h2>
                </div>

                <div class="item">
                <h3>Escolaridade</h3>
                <h2>Fundamental</h2>
                </div>

                <div class="item">
                <h3>Tipo de aula</h3>
                <h2>Distância</h2>
                </div>

                <div class="item">
                <h3>Acompanhamento</h3>
                <span>Ed. Fisica</span>
                <span>Biologia</span>
                </div>

                <div class="item">
                <h3>Desde</h3>
                <h3>12/12/2000</h3>
                </div>
            </section>
        </div>

        

    </div>
{% endblock content %}