@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --color-green : #50fa7b;
    --color-red : #7159c1;
    --color-red: rgb(220, 0, 0);
    --color-gray: rgb(165, 165, 165);
    --color-medium-black: rgb(49, 49, 49);
}

* {
    margin: 0;
    border: none;
    padding: 0;
}
body {
    background: #282a36;
    font-family: 'Roboto', sans-serif;
    color: white;
}
header {
    padding: 16px;
    border-bottom: 1px solid var(--color-red); /*#333*/
    background-color: rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
.links {
    text-align: center;
}
.links a {
    color: white;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
    position: relative;
}
.links a + a {
    margin-left: 32px;
}
.links a:hover {
    color: var(--color-red);
}
.links a.active {
    font-weight: bold;
    color: var(--color-red);
}
.links a::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -4px;
    background-color: var(--color-green);
}
.links a:hover::after {
    width: 100%;
    transition: width 300ms cubic-bezier(0.36,-0.35, 1, 1.05);
    background-color: var(--color-red);
}

/* Cards */
.cards {
    width: 100%;
    min-height: 100%;
    padding: 20px 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 10px;
}
.card,
.table-container {
    min-width: 95%;
    min-height: 500px;
    background-color: white;
    padding: 5px 5px;
    border: 1px solid var(--color-red);
    border-radius: 20px;
    box-shadow: -5px 5px 10px -3px var(--color-red);
    animation: card 200ms ease-in;
    display: grid;
    grid-template-columns: 40% 60%;
}

@keyframes card {
    0% {
        opacity: 0;
        transform: translateX(15px);
    }
    100% {
        opacity: 1;
    }
}

/* Form-create */

 .imagem {
    width: 100%;
    height: 100%;
    border-radius: 20px 0 0 20px;
}
 .detalhes {
    padding: 15px;
    position: relative;
}
.detalhes .item { 
    color: var(--color-medium-black);
    margin-top: 20px;
    border-top: 1px solid var(--color-gray);
}
.detalhes .item:first-child {
    margin-top: 0;
    border-top: none;
}
.detalhes .item:nth-child(6) h1 {
    color: var(--color-gray);
}
.detalhes .item:nth-child(6) h2 {
    color: var(--color-medium-black);
}
.detalhes .item h1 {
    color: var(--color-gray);
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    text-transform: uppercase;
}
.detalhes .item input,
.detalhes .item select {
    color: var(--color-medium-black);
    font-size: 18px;
    width: 100%;
    outline: none;
}
.detalhes .item input[type="radio"] {
    margin-right: 5px;
    width: auto;
    display: inline-block;
}
 .detalhes button {
    width: 100%;
    padding: 5px 16px;
    background-color: var(--color-green);
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-top: 40px;
    border-radius: 5px;
    cursor: pointer;
}
.detalhes .item h2 {
    color: var(--color-medium-black);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
}
.detalhes .item span {
    background-color: var(--color-red);
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 5px;
    color: white;
    text-transform: uppercase;
}
.detalhes .item span {
    margin-right: 5px;
}
.container-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 20px;
}
.detalhes .container-buttons .submit-edit,
.detalhes .container-buttons button {
    display: inline-block;
    box-sizing: border-box;
    padding: 5px 16px;
    background-color: var(--color-green);
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
.detalhes .container-buttons button {
    background-color: var(--color-red);
}

/* Table */

.cards table {
    color: black;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px;
    width: 95%;
}
.cards table thead,
.cards table tbody {
    width: 100%;
    display: inline-block;
}
.cards table thead tr,
.cards table tbody tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.cards table[id="teacher"] thead tr,
.cards table[id="teacher"] tbody tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.cards table thead tr,
.cards table tbody tr {
    text-align: center;
}
td, th {
    padding: 16px;
    border-bottom: 1px solid var(--color-gray);
}
th {
    text-transform: uppercase;
    color: var(--color-red);
    font-size: 14px;
}
tbody tr:last-child td {
    border-bottom: none;
}
tbody tr td {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
tbody tr td:first-child span {
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    box-shadow: 3px 1px 6px -4px black;
    border: 2px solid white;
    box-sizing: border-box;
    margin-right: 10px;
}
tbody tr td:last-child a,
tbody tr td span[id="area"] {
    background-color: var(--color-red);
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    font-weight: bold;
}
tbody tr td span[id="area"] {
    padding: 4px 8px;
    margin-right: 5px;
}

/* Active menu */
.active {
    font-weight: bold;
    color: var(--color-red);
    border-bottom: 2px solid var(--color-red);
    padding-bottom: 3px;
}
thead tr:first-child th {
    margin: 0;
    border: none;
    padding: 0 0 20px 0;
    text-align: left;
}
.table-container a[id="new-reg"] {
    background-color: var(--color-red);
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    font-weight: bold;
}

/* Not-found */
.not-found,
.err {
    width: 100%;
    height: auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: #999999;
    font-weight: normal;
    position: absolute;
    top: 30%;
}
.not-found h2,
.err h2 {
    font-size: 14px;
}
