@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --color-green : #50fa7b;
    --color-red : #7159c1;
    --color-red: rgb(220, 0, 0);
    --color-gray: rgb(165, 165, 165);
    --color-medium-black: rgb(49, 49, 49);
}

* {
    margin: 0;
    border: none;
    padding: 0;
}
body {
    background: #282a36;
    font-family: 'Roboto', sans-serif;
    color: white;
}
header {
    padding: 16px;
    border-bottom: 1px solid var(--color-red); /*#333*/
    background-color: rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
.links {
    text-align: center;
}
.links a {
    color: white;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
    position: relative;
}
.links a + a {
    margin-left: 32px;
}
.links a:hover {
    color: var(--color-red);
}
.links a.active {
    font-weight: bold;
    color: var(--color-red);
}
.links a::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -4px;
    background-color: var(--color-green);
}
.links a:hover::after {
    width: 100%;
    transition: width 300ms cubic-bezier(0.36,-0.35, 1, 1.05);
    background-color: var(--color-red);
}

/* Cards */
.cards {
    width: 100%;
    min-height: 100%;
    padding: 20px 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap: 10px;
}
.card {
    width: 300px;
    height: 590px;
    background-color: white;
    display: inline-block;
    padding: 5px 5px;
    border: 1px solid var(--color-red);
    border-radius: 20px;
    box-shadow: -5px 5px 10px -3px var(--color-red);
    animation: card 200ms ease-in;
}

@keyframes card {
    0% {
        opacity: 0;
        transform: translateX(15px);
    }
    100% {
        opacity: 1;
    }
}

.card section.image {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card section.image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin: 5px;
    box-sizing: border-box;
    border: 1px solid rgb(204, 204, 204);
}
.card section.details {
    height: 60%;
}
.card section.details .item {
    border-top: 1px solid rgb(204, 204, 204);
}
.card section.details .item:first-child {
    margin-top: 10px;
    border: none;
}
.card section.details .item h3 {
    color: var(--color-gray);
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: normal;
}
.card section.details .item h2 {
    color: var(--color-medium-black);
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.card section.details .item span {
    background-color: var(--color-red);
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 5px;
}
.card section.details .item h3 + span {
    margin-left: 10px;
}
.card section.details .item h3:nth-child(2) {
    color: var(--color-medium-black);
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

/* Form-create */
.container-create {
    width: 80%;
    max-width: 800px;
    min-height: 400px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid var(--color-red);
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.container-create .image {
    background: url(https://source.unsplash.com/collection/517198/500x500) no-repeat center center / cover;
    width: 100%;
    height: 100%;
    border-radius: 5px 0 0 5px;
}
.container-create .infos {
    padding: 15px;
}
.infos .item { 
    color: var(--color-medium-black);
    margin-top: 10px;
}
.infos .item:first-child {
    margin-top: 0;
}
.infos .item h1 {
    color: var(--color-gray);
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    text-transform: uppercase;
}
.infos .item input,
.infos .item select {
    color: var(--color-medium-black);
    font-size: 18px;
    width: 100%;

    outline: none;
}
.infos .item input[type="radio"] {
    margin-right: 5px;
    width: auto;
    display: inline-block;
}
.container-create .infos button {
    width: 100%;
    padding: 5px 16px;
    background-color: var(--color-green);
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}